/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #696666;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 17, 17);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-content-container {
  display: flex;
  flex-direction: row;
  height: 580px;
  width: 100%;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70vw;
  margin: 20px;
}
.search-input {
  padding-left: 10px;
  height: 30px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #1e293b;
  color: #1e293b;
  font-size: 15px;
}
.search-button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  height: 30px;
  border-color: #1e293b;
  color: red;
}
.banner-container {
  background-image: url('https://res.cloudinary.com/dzn2lfoqa/image/upload/v1673037607/youtube-wallpaper-6720462__340_d10fiq.webp');
  width: 600px;
  height: 170px;
  padding: 9px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto';
}
.banner-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.banner-website-logo {
  height: 30px;
}
.banner-para {
  font-weight: 400;
  font-family: 'Roboto';
  color: #1e293b;
}
.get-it-now {
  background-color: white;
  font-weight: 500;
  font-family: 'Roboto';
  width: 100px;
  height: 30px;
  border-width: 1px;
  color: #1e293b;
  border-color: #1e293b;
}
.cross-button {
  border-width: 0px;

  background-color: transparent;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.render-item-con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}
.loader-con {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.close {
  font-size: 25px;
}
@media (min-width: 576px) {
  .top-side-bar {
    display: none;
  }
}
@media (max-width: 576px) {
  .left-side-bar {
    display: none;
  }
  .sidebar-content-container {
    display: flex;
    flex-direction: column;
  }
  .banner-container {
    width: 90%;
  }
  .videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
